body {
  background-color: #fff;
  margin: 0;
}
.page {
  max-width: 1440px;
  min-width: 1000px;
}
.font-one {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.02px;
  color: #202727;
}
.font-two {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.01px;
  color: #202727;
}
.font-three {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #202727;
}
.font-four {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #202727;
}

/* #region avatar */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.logo {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.165em;
  color: #14c5c4;
  margin: 0 0 0 160px;
}
.avatar {
  width: 51px;
  height: 50px;
  margin: 0 140px 0 0;
}

/* #endregion */

/* #region slogan */

.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: url("../img/Rectangle.png") 0 top/100% 82% no-repeat;
  box-sizing: border-box;
}
.slogan-image {
  width: 100%;
  box-sizing: border-box;
  padding: 96px 55px 0 55px;
}
.slogan-text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.52px;
  text-align: center;
  margin: 32px 0 28px 0;
  color: #13a7a5;
}
.slogan-btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  padding: 20px 48px 20px 46px;
  color: #ffffff;
  background: #404652;
}
.slogan-btn:hover {
  transform: scaleX(1.03);
}
.slogan-line {
  width: 100%;
}

/* #endregion */

/* #region taste */

.taste {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  box-sizing: border-box;
}
.taste-content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 588px;
}
.taste-text {
  width: 216px;
}
.taste-text-top {
  margin: 30px 0 100px 0;
}
.taste-text-middle {
  margin: 0 0 48px 0;
}
.taste-text-bottom {
  margin: 0;
}
.taste-image {
  width: 432px;
  height: 586px;
  text-align: center;
  background: url("../img/Jar.png") center 0 no-repeat,
    url("../img/Quare.png") center 50%/100% no-repeat;
}
.taste-image-jar {
  width: 46%;
}
.taste-image-round {
  width: 100%;
  margin-top: -500px;
}

/* #endregion */

/* #region choise */

.choise {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 85px;
  background: #eafcfc;
}
.review {
  width: 694px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 38px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.63px;
  margin: 55px 0 65px 0;
  color: #14c5c4;
}
.nav {
  display: table; /* растягивает элементы списка по ширине родителя:раз*/
  width: 894px;
  margin: 0 0 62px 0;
  padding: 0;
}
.nav > li {
  display: table-cell; /* растягивает элементы списка по ширине родителя:два*/
}
.nav a {
  display: block; /* растягивает элементы списка по ширине родителя:три*/
  text-align: center; /* растягивает элементы списка по ширине родителя:четыре*/
  margin: 0 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #202727;
}
.nav a:hover {
  color: #13a7a5;
}

/* #endregion */

/* #region descript*/

.descript {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.descript-text {
  margin-right: 70px;
}
.descript-text-top {
  width: 576px;
  margin: 16px 0 26px 0;
}
.descript-text-middle {
  width: 456px;
  margin: 0 0 40px 0;
}
.descript-text-bottom {
  width: 54px;
  height: 78px;
  margin: 0;
}
.list > ul {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  margin: 0 12px 0 0;
  padding: 0;
}
.list-li > li {
  width: 118px;
  height: 18px;
  margin: 0 0 10px 0;
  border: 1px solid #14c5c4;
}
.list-li-full > li {
  width: 118px;
  height: 18px;
  margin: 0 0 10px 0;
  background-color: #14c5c4;
  border: 1px solid #14c5c4;
}
#list-li-brdr-none {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #202727;
  border: none;
  background: none;
}
/* #endregion */

.background-adapt {
  width: 100%;
  padding-bottom: 30px;
}

/* #region composit */
.composit {
  padding-bottom: 32px;
}
.composit-flower {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.composit-list {
  float: right;
  width: 63%;
}
.composit-list > ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
.composit-list-li {
  margin: 0;
}
.composit-list-li > li {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1px;
  color: #202727;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.composit-text {
  margin-left: 10%;
}
.composit-text-top {
  width: 241px;
  margin: 0 0 26px 0;
}
.composit-text-middle {
  width: 566px;
  margin: 0 0 26px 0;
}
.composit-text-bottom {
  margin: 0;
}

/* #endregion */

/* #region carry */

.carry {
  background: url("../img/Rectangle_3.png") 0 0/100% no-repeat;
  text-align: center;
  padding-top: 420px;
}
.carry-talk {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.02px;
  color: #14c5c4;
}
.carry-sign {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #202727;
}
.carry-shop {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 32px;
  line-height: 45px;
  text-decoration: none;
  color: #14c5c4;
}

/* #endregion */
