@import url("https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,700;1,600;1,700&display=swap");

:root {
  --black: #000;
  --light: #fffcfc;
  --gray: #e5e5e5;
  max-width: 192rem;
  font-size: 10px;
  /* margin: 0 auto; */
}
body {
  margin: 0;
  background: gray;
}
img {
  width: 100%;
}
.container {
  max-width: 1920px;
  background: var(--light);
}

.font-large {
  font-family: "Rosario";
  font-weight: 700;
  font-size: 96px;
  line-height: 116px;
  color: var(--black);
}
.font-italic {
  font-family: "Rosario";
  font-style: italic;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.8rem;
  color: var(--black);
}

/* #region header */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 12.9rem;
  background: var(--black);
}
.header__logo {
  width: 13.8%;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 0;
  padding: 0;
}
.header__nav > li > a {
  font-family: "Rosario";
  font-style: italic;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.4rem;
  color: #fffcfc;
}
/* #endregion */

/* #region section one */
.section__one {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: burlywood;
  box-sizing: border-box;
}

.section-one__blok-one {
  position: absolute;
  width: 19%;
  left: 2.2%;
  top: 29.4%;
  animation-name: block-one;
  animation-duration: 2s;
  animation-timing-function: linear;
}
@keyframes block-one {
  0% {
    left: -100vw;
  }
  100% {
    left: 2.2%;
  }
}

.section-one__blok-two {
  position: absolute;
  width: 24%;
  left: 25.2%;
  top: 18.5%;
  animation-name: block-two;
  animation-duration: 1s;
  animation-timing-function: linear;
}
@keyframes block-two {
  0% {
    left: -100vw;
  }
  100% {
    left: 25.2%;
  }
}

.section-one__blok-three {
  position: absolute;
  width: 24%;
  right: 25.2%;
  top: 18.5%;
  animation-name: block-three;
  animation-duration: 1s;
  animation-timing-function: linear;
}
@keyframes block-three {
  0% {
    right: -100vw;
  }
  100% {
    right: 25.2%;
  }
}

.section-one__blok-two > img:nth-child(2),
.section-one__blok-three > img:nth-child(2) {
  margin-top: 8%;
}

.section-one__blok-four {
  position: absolute;
  width: 19%;
  right: 2.4%;
  top: 29.4%;
  animation-name: block-four;
  animation-duration: 2s;
  animation-timing-function: linear;
}
@keyframes block-four {
  0% {
    right: -100vw;
  }
  100% {
    right: 2.4%;
  }
}
/* #endregion */

/* #region section two */
.section__two {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../img/pexels-cottonbro.png") right 0/50% no-repeat;
}
.section-two__couple {
  position: absolute;
  max-width: 18.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-two__couple:nth-child(1) {
  left: 3.6%;
  top: 14.3%;
  animation: couple-one 10s linear infinite alternate;
}
.section-two__couple:nth-child(2) {
  left: 28%;
  top: 14.3%;
  animation: couple-two 10s linear infinite alternate;
}
.section-two__couple:nth-child(3) {
  left: 28%;
  top: 57.9%;
  animation: couple-three 10s linear infinite alternate;
}
.section-two__couple:nth-child(4) {
  left: 3.6%;
  top: 57.9%;
  animation: couple-four 10s linear infinite alternate;
}
.section-two__couple > div,
p {
  margin-top: 1.2rem;
  margin-bottom: 0;
}

@keyframes couple-one {
  0% {
    left: 3.6%;
    top: 14.3%;
  }
  25% {
    left: 28%;
    top: 14.3%;
  }
  50% {
    left: 28%;
    top: 57.9%;
  }
  75% {
    left: 3.6%;
    top: 57.9%;
  }
  100% {
    left: 3.6%;
    top: 14.3%;
  }
}
@keyframes couple-two {
  0% {
    left: 28%;
    top: 14.3%;
  }
  25% {
    left: 28%;
    top: 57.9%;
  }
  50% {
    left: 3.6%;
    top: 57.9%;
  }
  75% {
    left: 3.6%;
    top: 14.3%;
  }
  100% {
    left: 28%;
    top: 14.3;
  }
}
@keyframes couple-three {
  0% {
    left: 28%;
    top: 57.9%;
  }
  25% {
    left: 3.6%;
    top: 57.9%;
  }
  50% {
    left: 3.6%;
    top: 14.3%;
  }
  75% {
    left: 28%;
    top: 14.3%;
  }
  100% {
    left: 28%;
    top: 57.9%;
  }
}
@keyframes couple-four {
  0% {
    left: 3.6%;
    top: 57.9%;
  }
  25% {
    left: 3.6%;
    top: 14.3%;
  }
  50% {
    left: 28%;
    top: 14.3%;
  }
  75% {
    left: 28%;
    top: 57.9%;
  }
  100% {
    left: 3.6%;
    top: 57.9%;
  }
}
/* #endregion */

/* #region section three */
.section__three {
  width: 100%;
  height: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.section-three_fotos {
  height: 66rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* #endregion */

/* #region section four */
.section__four {
  background-color: burlywood;
  height: 100vw;
}
.section-four__adress {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.section-four__message {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.section-four__title {
  width: 86%;
  text-align: center;
  font-size: 6.4rem;
  line-height: 7.8rem;
  margin: 5rem 0px 1.6rem 0;
}
table {
  border: 3rem solid #e5e5e5;
  border-collapse: collapse;
  margin: 100px auto;
}
tr,
td {
  border: 3rem solid #e5e5e5;
}
.first {
  width: 37.7rem;
  height: 8rem;
}
input,
textarea {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
}
textarea {
  width: 84rem;
  height: 22.6rem;
  border: none;
  background: transparent;
  resize: none;
}
input,
textarea {
  font-family: "Rosario";
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.4rem;
  color: rgba(0, 0, 0, 0.5);
  padding-left: 4.4rem;
}
.section-four__map {
  border: 0;
  width: 30%;
  height: 50.7rem;
}
