body {
  max-width: 1500px;
  background: #fff;
  margin: 0;
}
.breadth {
  width: 100%;
}

/* header */

.above {
  height: 700px;
  background: url("../img/inscription.png") center 144px/ 969px 206px no-repeat,
    url("../img/background.png") 0 0 / 100% no-repeat;
}

/* menu */

.menu {
  padding: 32px 112px 40px 112px;
}
.menu-title {
  font-family: "Inter";
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  margin: 0 0 32px 0;
  color: #000;
}
.cards {
  display: inline-flex;
  margin-bottom: 42px;
}
.card-one {
  width: 400px;
  height: 460px;
  background: url("../img/galery.png") 50% 16%/ 37% no-repeat,
    url("../img/foto_galery.png") 50% 78%/ 74% no-repeat, #231b0c;
}
.card-two {
  width: 400px;
  height: 460px;
  margin-left: 38px;
  background: url("../img/galery.png") 50% 16%/ 37% no-repeat,
    url("../img/foto_galery.png") 50% 78%/ 74% no-repeat, #231b0c;
}
.card-three {
  width: 400px;
  height: 460px;
  margin-left: 38px;
  background: url("../img/galery.png") 50% 16%/ 37% no-repeat,
    url("../img/foto_galery.png") 50% 78%/ 74% no-repeat, #231b0c;
}

/* footer */

.below {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
  background: #150f02;
}
.below-internal-link {
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  margin-bottom: 12px;
  padding-right: 44px;
}
.below-internal-link-column {
  display: inline-grid;
  text-align: left;
}
.contact {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 20px;
  line-height: 137.21%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.icon-box {
  width: 100%;
  margin-top: 20px;
}
.icon {
  font-size: 32px;
  margin: 0 20px;
  color: #a89d9d;
}
