body {
  width: 1500px;
  background: #fff;
  margin: 0;
  background: url('../img/inscription.png') 265px 144px no-repeat, url('../img/background.png') 0 0 no-repeat;
}

/* #region header */

.above {
  height: 700px;
}

/* #endregion */

/* #region menu */

.content {
  margin-left: 112px;
}
.cards {
  display: inline-flex;
  width: 1500px;
}
.card-one {
  width: 400px;
  height: 460px;
  background: url("../img/galery.png") 50% 16%/ 37% no-repeat,
    url("../img/foto_galery.png") 50% 78%/ 74% no-repeat, #231b0c;
  transition: 0.4s;
}
.card-one:hover {
  transform: translateY(20px);
}
.card-two {
  width: 400px;
  height: 460px;
  margin-left: 38px;
  background: url("../img/sport.png") 50% 16%/ 37% no-repeat,
    url("../img/foto_sport.png") 50% 78%/ 74% no-repeat, #231b0c;
  transition: 0.4s;
}
.card-two:hover {
  transform: translateY(20px);
}
.card-three {
  width: 400px;
  height: 460px;
  margin-left: 38px;
  background: url("../img/more.png") 50% 16%/ 37% no-repeat,
    url("../img/foto_more.png") 50% 78%/ 74% no-repeat, #231b0c;
  transition: 0.4s;
}
.card-three:hover {
  transform: translateY(20px);
}
.picture {
  margin-top: 40px;
}

/* #endregion */

/* #region footer */

.below {
  width: 1500px;
  height: 280px;
  text-align: center;
  margin-top: 40px;
  background: #150f02;
}
.column-left {
  height: 80px;
  display: inline-grid;
  text-align: end;
  padding-top: 40px;
  /* margin-left: 420px; */
}
.column-right {
  height: 80px;
  display: inline-grid;
  text-align: start;
  padding-top: 40px;
  margin-left: 370px;
  padding-right: 99px;
}
.contact {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 20px;
  line-height: 137.21%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.icon-box {
  width: 100%;
  margin-top: 20px;
}
.icon {
  font-size: 32px;
  margin: 0 20px;
  color: #a89d9d;
}

/* #endregion */
