@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  font-size: 10px;
  --c-white: #fff;
  --c-gray: #d1d1d1;
  --c-dark: #333333;
  --c-black: #000;
  --c-blue: #4743e0;
}
body {
  margin: 0;
  background-color: burlywood;
}
input {
  height: 4.8rem;
  background: var(--c-white);
  border: 0.1rem solid var(--c-gray);
  outline: none;
}
input:focus {
  border: 0.1rem solid var(--c-dark);
}
a {
  text-decoration: none;
  color: var(--c-blue);
}
a > img {
  padding-right: 1.6rem;
}
label {
  display: flex;
  justify-content: space-between;
}
.font_main {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.8rem;
  letter-spacing: 0.025rem;
  color: var(--c-dark);
}
.font_opacity {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: var(--c-black);
  opacity: 0.5;
}



/* --------------------- */

.frame {
  position: relative;
  max-width: 144rem;
  height: 101.8rem;
  background: #f9faff;
  margin: 0 auto;
}
.image {
  position: absolute;
  width: 50%;
  right: 0;
  bottom: 0;
}
.page {
  width: 59%;
  height: 101.8rem;
  box-sizing: border-box;
  background: var(--c-white);
  padding: 60px 8% 0 8%;
}
.entrance {
  text-align: right;
}
.entrance__text {
  color: var(--c-blue);
  margin-right: 0.5rem;
}
.entrance__image {
  color: var(--c-blue);
}
.notice {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed var(--c-gray);
  padding-bottom: 4.8rem;
  margin-top: 5.2rem;
}
.notice__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 5.4rem;
  line-height: 6.8rem;
  color: #42505c;
  margin-right: 2rem;
}
.notice__text {
  width: 82%;
  height: 10.4rem;
  color: var(--c-dark);
  margin-top: 1.6rem;
  overflow: hidden;
}
.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px dashed var(--c-gray);
  padding-bottom: 4.2rem;
  margin-top: 4.2rem;
}
.form__cell {
  width: 46%;
  display: flex;
  flex-direction: column;
  margin-top: 2.7rem;
}
.form__cell:first-child {
  margin-top: 0;
}
.form__cell:nth-child(2) {
  margin-top: 0;
}
.form__sub {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}
.form-sub__radio {
  display: flex;
  align-items: center;
}
.form-sub__btn {
  width: 10rem;
  height: 4.8rem;
  background: var(--c-blue);
  color: var(--c-white);
}
.form-sub__radio-label {
  display: flex;
  align-items: center;
}

/* #region radio buttons */
.form__radio {
  width: 46%;
  display: flex;
  flex-direction: column;
  margin-top: 2.7rem;
}
.form__radio > span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__cell_radio {
  display: flex;
  justify-content: space-between;
}
.form-cell__radio {
  width: 22%;
  display: flex;
  flex-direction: column;
}
.form-cell__radio-input {
  display: none;
}
.form-cell__radio-label > span.form-cell__radio-mark {
  width: 100%;
  height: 5rem;
  background: var(--c-white);
  border: 0.1rem solid var(--c-gray);
}
.form-cell__radio-input:checked
  + .form-cell__radio-label
  > span.form-cell__radio-mark {
  background: var(--c-white);
  border: 0.1rem solid var(--c-blue);
  box-shadow: 0px 0px 14px rgba(71, 67, 224, 0.2);
  color: var(--c-blue);
}
.form-cell__radio-mark {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-sub__radio-input {
  display: none;
}
.form-sub__radio-label > span.form-sub__radio-mark {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background-color: var(--c-white);
  border: 0.1rem solid var(--c-gray);
  margin-right: 1rem;
}
.form-sub__radio-input:checked
  + .form-sub__radio-label
  > span.form-sub__radio-mark {
  background: url("../img/bird.svg") 0 0 no-repeat;
}
/* #endregion */
