@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@400;600;700&family=Roboto:wght@700&family=Work+Sans:wght@500;600&display=swap');

:root {
  --c-dark: #000;
  --c-light: #fff;
  --c-yellow: #ffb742;
  --c-dark-gray: #212529;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
}

.main {
  max-width: 1400px;
  background: #212529;
  margin: 0 auto;
}

/* #region header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 5rem 0;
}

.header_icon {
  width: 9rem;
  height: 6.5rem;
}
.nav {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.nav > a {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--c-light);
}

.nav > a :hover {
  color: var(--c-yellow);
}

.header_btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 3rem;
  color: var(--c-dark-gray);
  background-color: var(--c-yellow);
  border-radius: 5rem;
  padding: 1.2rem 2.6rem;
  cursor: pointer;
}
/* #endregion */

/* #region my */
.my {
}
.my_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10.8rem;
}
.my_name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 5.1rem;
  text-transform: capitalize;
  color: var(--c-light);
  margin: 0;
}
.my_name > span {
  color: var(--c-yellow);
  border-bottom: 0.2rem solid var(--c-yellow);
}
.my_profession {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 9.1rem;
  text-transform: capitalize;
  color: var(--c-light);
  margin: 0;
}
.my_to_do {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 5.1rempx;
  text-transform: capitalize;
  color: var(--c-light);
  margin-top: 2.6rem;
}
.my_avatar {
  width: 21rem;
  height: 22rempx;
  margin-top: 2.2rem;
}
.my_experience {
  margin-top: 13.6rem;
}


