body {
  background-color: #e5e5e5;
  margin: 0%;
}

.pages {
  width: 1000px;
  margin: 0 auto;
  background: white;
}

.chapter {
  font-family: 'M PLUS 1', sans-serif;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: 0.1em;
  text-align:center;
  color: #3E45E8;
  padding: 30px 0;
}

.chapter-word-two {
  color: #E8C23E;
}
