body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background-color: #e5e5e5;
  margin: 0;
  max-width: 1000px;
  min-width: 700px;
  padding-bottom: 8px;
}
.str-uk {
  font-family: "M PLUS 1", sans-serif;
  font-weight: 400;
  font-size: 38px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #3e45e8;
  margin-top: 30px;
}
.str-uk-yellow {
  color: #e8c23e;
  /* color: #DFE31E; */
}
.img-with-flag {
  width: 100%;
  height: 522px;
  background: url("../img/flag.png"), url("../img/background.png");
  background-repeat: no-repeat;
  background-position: 50px, left;
  background-size: 12px 170px, 100%;
  margin-top: 30px;
}
.img-with-flag-text {
  /* font-size: calc(14px + 14 * ((100vw - 700px) / (1000 - 700))); */
  font-size: 28px;
  letter-spacing: 1.1px;
  line-height: 157.3%;
  color: #fff;
  padding: 174px 0px 0 80px;
}
.places {
  margin-top: 48px;
}
.places-title {
  font-size: 26px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  margin: 0 0 0 68px;
}
.places-flag {
  width: 544px;
  margin-top: 6px;
}
.places-flag-image {
  width: 100%;
  height: 100%;
}
.card {
  display: inline-flex;
  width: 100%;
  margin-top: 42px;
}
.card > div {
  width: 270px;
  height: 332px;
  border: 3px solid #0d095f;
  border-radius: 24px;
  margin-left: 3%;
  margin-right: 3%;
}
.card-tuskan {
  background: url("../img/tustan.png") top/100% no-repeat;
  box-shadow: -14px 14px 32px rgba(0, 209, 255, 0.18);
}
.card-lusk {
  background: url("../img/lusk.png") top/100% no-repeat;
  box-shadow: 0px 14px 32px rgba(0, 209, 255, 0.18);
}
.card-tuskan-2 {
  background: url("../img/tustan_2.png") top/100% no-repeat;
  box-shadow: 14px 14px 32px rgba(0, 209, 255, 0.18);
}
.card-name {
  font-size: calc(14px + 2 * ((100vw - 700px) / (1000 - 700)));
  /* font-size: 16px; */
  letter-spacing: 1.1px;
  color: #0072db;
  margin: 216px 0 0 10px;
}
.card-discript {
  font-size: calc(10px + 2 * ((100vw - 700px) / (1000 - 700)));
  /* font-size: 14px; */
  font-weight: 400;
  letter-spacing: 1.1px;
  color: #ff9900;
  margin: 14px 0 0 12px;
}
.cheer {
  width: 100%;
  margin-top: 52px;
  text-align: center;
}
.cheer-title {
  font-size: 26px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  border-bottom: 4px solid #1400ff;
}
.cheer-image {
  width: 80%;
  margin: 32px 0 22px 0;
}
.rectangle {
  width: 348px;
  /* width: 40%; */
  height: 56px;
  border-radius: 50px;
  background: #2a61f0;
  margin: auto;
  box-sizing: border-box;
  padding-top: 2px;
}
.cheer-text {
  font-size: 44px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.footer {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  
  display: inline-grid;
  text-align: center;
  width: 100%;
  height: 160px;
  background: linear-gradient(180deg, #013235 0%, #0d0661 100%);
  margin-top: 36px;
}
.footer-str-uk {
  margin-top: 0;
}
.footer-info {
  font-family: "Marcellus SC";
  font-weight: 400;
  font-size: 27px;
  line-height: 32px;
  letter-spacing: 0.1em;
  color: #a89d9d;
}
.icon-box {
  margin-top: 8px;
  margin-bottom: 6px;
}
.icon {
  font-size: 22px;
  margin: 20px;
  color: #a89d9d;
}
.note {
  width: 100%;
  margin-top: 8px;
}
.note-title {
  font-size: 11px;
  font-style: italic;
  margin: 0 0 0 18px;
}
.note-text {
  display: inline-flex;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #000;
}
.note-colum-left {
  width: 296px;
  margin: 0 0 0 18px;
}
.note-colum-right {
  width: 416px;
  margin: 0 0 0 18px;
}
