body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background-color: #e5e5e5;
  margin: 0;
  width: 1000px;
  max-width: 100%;
  min-width: 700px;
}
.str-uk {
  font-family: "M PLUS 1", sans-serif;
  font-weight: 400;
  font-size: 38px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #3e45e8;
  margin-top: 30px;
}
.str-uk-yellow {
  color: #e8c23e;
  /* color: #DFE31E; */
}
.img-with-flag {
  width: 100%;
  height: 522px;
  background: url("../img/flag.png"), url("../img/background.png");
  background-repeat: no-repeat;
  background-position: 50px, left;
  background-size: 16px 290px, 100%;
  margin-top: 30px;
}
.img-with-flag-text {
  font-size: 28px;
  letter-spacing: 1.1px;
  line-height: 157.3%;
  color: #fff;
  padding: 174px 0px 0 80px;
}
.places {
  margin-top: 48px;
}
.places-title {
  font-size: 26px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  margin: 0 0 0 68px;
}
.places-flag {
  width: 544px;
  margin-top: 6px;
}
.places-flag-image {
  width: 100%;
  height: 100%;
}
.card {
  display: inline-flex;
  width: 100%;
  margin-top: 42px;
}
.card > div {
  width: 270px;
  height: 332px;
  border: 3px solid #0d095f;
  border-radius: 24px;
  margin-left: 3%;
  margin-right: 3%;
}
.card-tuskan {
  box-shadow: -14px 14px 32px rgba(0, 209, 255, 0.18);
}
.card-lusk {
  box-shadow: 0px 14px 32px rgba(0, 209, 255, 0.18);
}
.card-tuskan-2 {
  box-shadow: 14px 14px 32px rgba(0, 209, 255, 0.18);
}
.card-image {
  width: 100%;
}
.card-name {
  font-size: 16px;
  letter-spacing: 1.1px;
  color: #0072db;
  margin: 16px 0 0 10px;
}
.card-discript {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.1px;
  color: #ff9900;
  margin: 14px 0 0 12px;
}
.cheer {
  width: 100%;
  margin-top: 52px;
  text-align: center;
}
.cheer-title {
  font-size: 26px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  border-bottom: 4px solid #1400ff;
}
.cheer-image {
  width: 80%;
  margin: 32px 0 22px 0;
}
.rectangle {
  width: 348px;
  /* width: 40%; */
  height: 56px;
  border-radius: 50px;
  background: #2a61f0;
  margin: auto;
  box-sizing: border-box;
  padding-top: 2px;
}
.cheer-text {
  font-size: 44px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 160px;
  background: linear-gradient(180deg, #013235 0%, #0d0661 100%);
  margin-top: 36px;
}
.footer-str-uk {
  margin-top: 0;
}
.footer-info {
  font-family: "Marcellus SC";
  font-weight: 400;
  font-size: 27px;
  line-height: 32px;
  letter-spacing: 0.1em;
  color: #a89d9d;
}
.icon-box {
  margin-top: 8px;
}
.icon {
  font-size: 22px;
  margin: 20px;
  color: #a89d9d;
}
